TP3/implementation_data-v1
TP3/implementation_data-v2
TP3/archive.zip

TP5/v1/best_model.pth
TP5/v3/best_timesformer_facial.pth

TP6/RAFT/
TP6/assets/

TP7/yolov5s.pt
TP7/*.png

TP8/pysot
TP8/model.pth
TP8/tp8-results

TP9/MaskRCNNDetector
TP9/YOLOv8Detector
TP9/input_video.mp4

